.section {
    padding-top: 94px;
    padding-bottom: 94px;

    }

.section-two {
    display: flex;
    justify-content: center;
    gap: 30px;
    
    @media screen and (min-width:768px ) {
        width: 50%;
    } 
    @media screen and (min-width:1200px ) {
       width: 25%;  

    } 
}

.work__titel {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    @media screen and (min-width:480px),(min-width:768px){
        font-size: 28px;
        line-height: 33px;
        color: #212121;
        margin-bottom: 30px;                                                              
    }
}
.main {
    // background-color: #2F303A;
    // background-image:linear-gradient(rgba(47, 48, 58, 0.4),
    //  rgba(47, 48, 58, 0.4)), url(../img/foto19.jpg);
    // background-position: center;
    // background-size: cover; 
//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//         background-image:linear-gradient(rgba(47, 48, 58, 0.4),
//      rgba(47, 48, 58, 0.4)), url(../img/Header-mobil-2x.jpg);
 
// }

    @media screen and (min-width:480px) {
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../img/Header-mobil.jpg);
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../img/Header-mobil-2x.jpg);}
    }

    @media screen and (min-width:768px) {
        background-color: #2F303A;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../img/Header-tablet.jpg);
        background-position: center;
        background-size: cover;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-color: #2F303A;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../img/Header-tab-2x.jpg); }
        }

        @media screen and (min-width:1200px) {
            background-color: #2F303A;
            background-image:linear-gradient(rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)), url(../img/Heder-destop.jpg);
            background-position: center;
            background-size: cover;
            @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-color: #2F303A;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../img/Header-das-2x.jpg);}
         }        
}

.main__section-one {
    padding-top: 200px;
    padding-bottom: 200px;
}