.socmeregi {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
    }
    @media screen and (min-width:1200px) {
       justify-content: left;
    }

    }

    .blok-socmeregi {
        display: flex;
        width: 206px;
        margin-top: 16px;
        gap: 10px;
        flex-direction: column;
        margin-left: 70px;

        @media screen and (min-width:480px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-left:0;
            margin-bottom: 60px;        
        }
        @media screen and (min-width:768px) {
           
        }
        @media screen and (min-width:1200px) {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            // flex-direction: column;
            margin-left: 70px;
            margin-top: 0;
        }

    }
    .socmeregi-one {
        display: flex;
    }
    .icon {
        color: var(--text-color);
        &:hover {
        color: var(--acsent-color);}
    }
    